@charset "UTF-8";
body {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: 0 auto;
  background: url("img/background5.jpg");

  background-size: 100%;
}


 .banner {

  background: url(img/bird.png), url(img/clouds.jpg);
  background-position: 0px, 0px;
  background-repeat: no-repeat, repeat;
  width: 100%;
  height: 140px;
  animation: animate-background linear 4s infinite; }

  @keyframes animate-background {
  from{ background-position: -70% 0px, 0px; }
  to{ background-position: 1100px -70px, -300px; }
}



ul li {
  display: inline; }

input {
  /* felur takkann ├í st├│ra skj├ínum */
  display: none; }
label{
  display: none;
}


   .smallContainer{
    display: none;
   }

   .allabout{
  text-align: center;
  background-color: #ff9933;

    color: navy;
    width: 100%;
    height: 100px;
   }

.numer1 {
  
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 400px;
  
 }
.box{
  display: flex;
  flex-flow: row;
 /*border: 1px solid black;*/
  width: 100%;
  height: 100%;
}
.gif{
 border: 2px solid black;
  width: 100%;
  height: 100%;
}
.giffin{
  height: 100%;
  width: 100%;
}
.gifRow {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 400px;
  }


footer {
  
  background: salmon;
  width: 100%;
  height: 150px; }


                 /*--------------Buttons ---------------*/
.navigationMenu li{
  list-style:none;
  height:39px;
  padding:2px;
  width:40px;
}

.navigationMenu span{
  /* Container properties */
  width:0;
  left:38px;
  padding:0;
  position:absolute;
  overflow:hidden;

  /* Text properties */
  font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
  font-size:18px;
  font-weight:bold;
  letter-spacing:0.6px;
  white-space:nowrap;
  line-height:39px;
  
  /* CSS3 Transition: */
  -webkit-transition: 0.25s;
  
  /* Future proofing (these do not work yet): */
  -moz-transition: 0.25s;
  transition: 0.25s;
}

.navigationMenu a{
  background:url('img/navigation.jpg') no-repeat;

  height:39px;
  width:38px;
  display:block;
  position:relative;
}

/* General hover styles */

.navigationMenu a:hover span{ width:auto; padding:0 20px;overflow:visible; }
.navigationMenu a:hover{
  text-decoration:none;
  
  /* CSS outer glow with the box-shadow property */
  -moz-box-shadow:0 0 5px #9ddff5;
  -webkit-box-shadow:0 0 5px #9ddff5;
  box-shadow:0 0 5px #9ddff5;
}

/* Green Button */

.navigationMenu .home { background-position:0 0;}
.navigationMenu .home:hover { background-position:0 -39px;}
.navigationMenu .home span{
  background-color:#7da315;
  color:#3d4f0c;
  text-shadow:1px 1px 0 #99bf31;
}

/* Blue Button */

.navigationMenu .about { background-position:-38px 0;}
.navigationMenu .about:hover { background-position:-38px -39px;}
.navigationMenu .about span{
  background-color:#1e8bb4;
  color:#223a44;
  text-shadow:1px 1px 0 #44a8d0;
}

/* Orange Button */

.navigationMenu .contact { background-position:-152px 0;}
.navigationMenu .contact:hover { background-position:-152px -39px;}
.navigationMenu .contact span{
  background-color:#af1e83;
  color:#460f35;
  text-shadow:1px 1px 0 #d244a6;
}




/* The styles below are only needed for the demo page */

#buttons{
  position: fixed;
  margin-left: -7.5em;
  }


a, a:visited,a:active {
  color:#0196e3;
  text-decoration:none;
  outline:none;
}

a:hover{
  text-decoration:underline;
}

a img{
  border:none;
}


  /*-------- ENDIR A BUTTONS -------- */



@media screen and (max-width: 32em) {
  body {
    width: 100%; }

  header {
    height: 100px; 
  }

  .banner {
  height: 180px;
  animation: animate-background linear 5s infinite; }

  @keyframes animate-background {
  from{ background-position: -400px -40px, 0px; }
  to{ background-position: 1100px -70px, -300px; }
}

.gifRow{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 400px; }
    
    .box{
   
    }

  .smallContainer{
    display: inline;
   }


#buttons{
  display: none;
}


  label {
    display: inline;
    position: fixed;
    bottom: 0;
    left: 0px;
    font-size: 1.5em;
    width: 100%;
    border: 1px solid gray;
    border-radius: 2px;
    background: silver;
    text-align: center;
    font-weight: bold;
    z-index: 1; }

  .valmynd {
    display: inline;
    text-align: center;
    display: flex;
    flex-flow: row;
    position: fixed;
    overflow: hidden;
    transition: all 1s ease;
    margin: 0;
    width: 100%;
    height: 9em;
  }

  .valmynd li {
    text-align: center;
    color: white;
    float: right;
    margin: auto auto auto 1.3em;
  }

    .link1 {
  color: navy;

  text-decoration: none; }


  input:checked ~ .valmynd {
    position: fixed;
    bottom: 1.3em;
    left: 0; }

/*# sourceMappingURL=flex.css.map */

/*# sourceMappingURL=flex.css.map */





