body{
	width: 80%;
	margin: 0 auto;
	background-color: skyblue;
	align-content: center;
}
.upper h1{
	text-align: center;
	font-size: 3em;
	color: navy;
}
h2{
	text-align: center;
	color: navy;
	
}
fieldset{
	height: 500px;
}
legend{
	font-size: 1.5em;
}
p{
	text-align: center;
}
.lala{
	width: 1000px;
	height: 100px;
}